<div class="maring_django_header_layer">
    <div>
        <h1 class="marine_django_font">
            Marine-Django
        </h1> 
    </div>
    <div>
        <a href="{% url 'articleapp:list' %}">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}">
            <span>Projects</span>
        </a>
        {% if not user.is_authenticated %}
        <!-- <a href="{% url 'accountapp:login' %}?next={{ request.path }}"> -->
        <a href="{% url 'accountapp:login' %}">
            <span>Login</span>
        </a>
        <a href="{% url 'accountapp:create' %}">
            <span>SignUp</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>MyPage</span>
        </a>
        <!-- <a href="{% url 'accountapp:logout' %}?next={{ request.path }}"> -->
        <a href="{% url 'accountapp:logout' %}">
            <span>Logout</span>
        </a>
        {% endif %}
        
    </div>
</div>